@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 2rem 0;
}
a {
  text-decoration: none;
  color: black;
}

img {
  width: 100px;
  filter: grayscale(100%);
}

h2 {
  font-weight: 500;
  font-style: normal;
}

p {
  font-weight: 400;
}

.main-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.rows {
  padding: 0 0.3rem;
}

form input {
  font-size: medium;

  font-family: "Roboto", sans-serif;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  border: unset;
  border-bottom: 2px dotted black;
  outline: unset;
  /* width: 100%; */
}

#name {
  text-transform: capitalize;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  table-layout: fixed;
  overflow: hidden;
  text-align: center;
}

table td {
  padding: 2px 4px;
}

table input {
  outline: unset;
  border: unset;
  width: 100px;
  z-index: -1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
